@mixin custom-none-select-basic {
  cursor: pointer;
  user-select: none;
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
}

@mixin custom-button-style($bg-color: $secondary-color-default) {
  @include custom-none-select-basic;
  display: flex;
  width: 100%;
  height: 56px;
  background-color: $bg-color;
  border-radius: 10px;
  margin-bottom: $margin-default;
}

@mixin custom-padding-x($padding-size: $padding-default) {
  padding-left: $padding-size;
  padding-right: $padding-size;
}

@mixin custom-padding-y($padding-size: $padding-default) {
  padding-top: $padding-size;
  padding-bottom: $padding-size;
}

@mixin custom-margin-x($margin-size: $margin-default) {
  margin-left: $margin-size;
  margin-right: $margin-size;
}

@mixin custom-margin-y($margin-size: $margin-default) {
  margin-top: $margin-size;
  margin-bottom: $margin-size;
}

@mixin custom-margin-input {
  margin-top: $margin-default;
  margin-bottom: $margin-small;
}

@mixin custom-input-style {
  @include custom-padding-x;
  @include custom-text;
  height: 48px;
  appearance: none;
  border: none;
  outline: none;
  background-color: $input-color;
  border-radius: 13px;
}

// 기본 텍스트 스타일 믹스인
@mixin custom-text(
  $font-color: $text-color-default,
  $font-size: 16px,
  $font-weight: 400
) {
  font-family: "Pretendard", sans-serif;
  font-size: $font-size;
  font-weight: $font-weight;
  color: $font-color;
}

// 굵은 텍스트 스타일 믹스인
@mixin custom-text-bold($font-color: $text-color-default, $font-size: 16px) {
  @include custom-text($font-color, $font-size, 900);
}

@mixin custom-popup-shadow {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
