// button group
.custom-button-group {
  @include custom-padding-x;
}

.tab-content {
  @include custom-margin-y;
  // background-color: aqua;
}
// button
.custom-button {
  @include custom-button-style();
}

// content를 구분해주는 회색 긴 선
.content-indicator {
  @include custom-margin-y;
  background-color: #ededed;
  height: 10px;
}

.button-in-tab {
  @include custom-margin-x;
  @include custom-button-style(
    $bg-color: #f2f2f2,
    $icon-size: 18px,
    $height: 52px
  );
}
