.sub-container {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// button group
.custom-button-group {
  @include custom-padding;
}

// button
.custom-button {
  @include custom-button-style();
}

// button-items
.button-item-image {
  height: 24px;
  width: 24px;
  margin-right: 4px;
}

.button-item-content {
  @include custom-text();
}
